{% extends "base.html" %}

{% block content %}
    <h1>Jobs</h1>
    {% for job in data %}
        <p>
            <div class="alert alert-primary" role="alert">
            <h3>{{ job.job_title }}</h3><br>
            Job leader: {{ job.team_leader }}<br>
            Job size: {{ job.work_size }}<br>
            Collabs:
            {% for user in job.colls %}
                {{ user }}
            {% endfor %}<br>
            {% if job.is_finished %}
                Job is finished.
            {% else %}
                Job is not finished.
            {% endif %}
            {% if current_user.name == job.team_leader or current_user.id == 1%}
                <a class="btn btn-success" href="/correct/{{job.id}}">Correct</a>
                <a class="btn btn-danger" href="/delete/{{job.id}}">Delete</a>
            {% endif %}
            </div>
    {% endfor %}
{% endblock %}