{% extends "base.html" %}

{% block content %}
    <h1>Adding a job</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {% if to_cor %}
                {{ form.id(class="form-control", type="text", value=to_cor.id) }}<br>
            {% else %}
                {{ form.id(class="form-control", type="text") }}<br>
            {% endif %}
            {% for error in form.id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.job_title.label }}<br>
            {% if to_cor %}
                {{ form.job_title(class="form-control", type="text", value=to_cor.job_title) }}<br>
            {% else %}
                {{ form.job_title(class="form-control", type="text") }}<br>
            {% endif %}
            {% for error in form.job_title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.team_leader_id.label }}<br>
            {% if to_cor %}
                {{ form.team_leader_id(class="form-control", type="text", value=to_cor.team_leader) }}<br>
            {% else %}
                {{ form.team_leader_id(class="form-control", type="text") }}<br>
            {% endif %}
            {% for error in form.team_leader_id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.work_size.label }}<br>
            {% if to_cor %}
                {{ form.work_size(class="form-control", type="text", value=to_cor.work_size) }}<br>
            {% else %}
                {{ form.work_size(class="form-control", type="text") }}<br>
            {% endif %}
            {% for error in form.work_size.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.collaborators.label }}<br>
            {% if to_cor %}
                {{ form.collaborators(class="form-control", type="text", value=to_cor.collaborators) }}<br>
            {% else %}
                {{ form.collaborators(class="form-control", type="text") }}<br>
            {% endif %}
            {% for error in form.collaborators.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}